<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.findjobsrd">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PantallaBuscarEmpleo"></activity>
        <activity android:name=".PantallaBuscarCurriculo" />
        <activity android:name=".PantallaNavegador" />
        <activity
            android:name=".PantallaPrincipalEmpleador"
            android:label="@string/title_activity_pantalla_principal_empleador"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PantallaRegistroBuscador" />
        <activity android:name=".PantallaRegistroEmpleador" />
        <activity android:name=".PantallaLoginOtraVersion" />
        <activity android:name=".PantallaCarga" />
        <activity android:name=".PantallaElegirModo" />
        <activity android:name=".PantallaLogin" />
        <activity android:name=".PantallaRecuperarContrasena" />
        <activity
            android:name=".PantallaPrincipalBuscador"
            android:label="@string/title_activity_pantalla_principal_buscador"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PantallaRegistrarEmpleo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>